.password-checker {
  &__container {
    display: flex;
  }
  &__section {
    width: 90px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(185, 190, 199);
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__message {
    font-size: 16px;
    color: rgb(231, 76, 60);
  }
}

.short {
  & .password-checker {
    &__section {
      background-color: rgb(231, 76, 60);
    }
  }
}

.easy {
  & .password-checker {
    &__section:first-child {
      background-color: rgb(231, 76, 60);
    }
  }
}

.medium {
  & .password-checker {
    &__section:first-child,
    &__section:nth-child(2) {
      background-color: rgb(251,213,114);
    }
    &__message {
      color: rgb(251,213,114);
    }
  }
}

.strong {
  & .password-checker {
    &__section {
      background-color: rgb(11, 218, 81);
    }
    &__message {
      color: rgb(11, 218, 81);
    }
  }
}
