<div class="password">
  <label class="password__label" for="password">Enter password</label>
  <input class="password__input"
         [(ngModel)]="password"
         #pw="ngModel"
         placeholder="Minimum 8 characters"
         type="password"
         id="password"
         [class.invalid]="pw.invalid && pw.dirty"
         required
         minlength="8">
  <app-password-checker [password]="password"></app-password-checker>
  <div *ngIf="pw.control.errors && pw.control.dirty" class="password__validation">
    <p *ngIf="pw.control.errors['required']" class="password__error-message">{{messages.required}}</p>
    <p *ngIf="pw.control.errors['minlength']" class="password__error-message">{{messages.minlength}}</p>
  </div>
</div>
